.Navpills {
    background-color: var(--secondary);
    grid-column: 2/-1;
    grid-row: 2/span 1;
    border-top: 1px solid var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
    padding: .75rem 1.5rem;
    margin-right: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    position: relative;
}
.Navpills::-webkit-scrollbar {
    display: none;
}