.video-container {
    flex-direction: column;
    gap: .7rem;
    width: 15.85rem;
    text-align: left;
    position: relative;
    flex-grow: .5;
}
.video-container:hover .video-thumbnail {
    opacity: 0.85;
}
.video-header {
    min-height: 9.2rem;
    height: 100%;
    height: max-content;
    width: 100%;
    position: relative;
}
.video-header .video-thumbnail {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.video-iframe-short {
    height: 110%;
    width: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    z-index: 99;
}
.video-header .time-length {
    color: var(--white);
    font-size: .75rem;
    background-color: #181818da;
    padding: 3px 4px;
    border-radius: 2.5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    transition: none;
}
.video-header .hover-text {
    color: var(--white);
    font-size: .9rem;
    background-color: var(--primary);
    padding: 4px 5px;
    border-radius: 2.5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 2;
    transition: none;
}
.video-footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2rem 3fr;
    column-gap: .7rem;
    row-gap: .5rem;
    width: 100%;
    box-sizing: border-box;
}
.channel-image {
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    object-fit: cover;
}
.video-footer-top {
    overflow: hidden;
    grid-column: 1/-1;
    grid-row: 1/span 1;
    gap: .7rem;
    line-height: .5rem;
    align-items: flex-start;
    justify-content: flex-start;
    height: 2.3rem;
    overflow-y: hidden;
}
.video-title {
    flex-wrap: wrap;
    line-height: 1.15rem;
    font-size: 1rem;
    height: 100%;
    color: var(--white);
    max-width: 11rem;
}
.video-icon-dots {
    display: none;
    color: var(--white);
}
.video-container:hover .video-icon-dots {
    display: flex;
    margin-left: auto;
}
.video-footer-bottom {
    grid-column: 2/-1;
    grid-row: 2/-1;
    gap: .4rem;
    flex-direction: column;
    align-items: flex-start;
    font-size: .75rem;
    color: grey;
}
.video-container.big{
    width: 18rem;
}
.video-container.big .video-header{
    min-height: 10rem;
}
.video-container.big .video-footer-top .video-title{
    max-width: 13rem;
}
.iframe-wrapper {
    height: 100%;
    width: 100%;
}
.iframe-wrapper .layer-iframe-short {
    position: absolute;
    top: -5%;
    left: -5%;
    min-height: 110%;
    min-width: 110%;
    background-color: transparent;
    z-index: 9999999999;
}

.video-box {
    position: relative;
}
.video-box span {
    position: absolute;
    background: var(--accent);
    display: block;
}
.video-box .video-box-border-top,
.video-box .video-box-border-bottom {
    width: 0%;
    height: 5px;
}
.video-box .video-box-border-left,
.video-box .video-box-border-right {
    width: 5px;
    height: 0%;
}
.video-box .video-box-border-top {
    top: 0;
    left: 0;
}
.video-box .video-box-border-right {
    top: 0;
    right: 0;
}
.video-box .video-box-border-bottom {
    bottom: 0;
    right: 0;
}
.video-box .video-box-border-left {
    bottom: 0;
    left: 0;
}
.video-box:hover .video-box-border-top {
    width: 100%;
    transition: all .5s linear;
}
.video-box:hover .video-box-border-right {
    height: 100%;
    transition: all .5s linear;
    transition-delay: .5s;
}
.video-box:hover .video-box-border-bottom {
    width: 100%;
    transition: all .5s linear;
    transition-delay: 1s;
}
.video-box:hover .video-box-border-left {
    height: 100%;
    transition: all .5s linear;
    transition-delay: 1.5s;
}
@media screen and (max-width: 700px) {
    .App .videos-container {
        justify-content: center;
    }
}