:root {
    --primary: #181818;
    --secondary: #212121;
    --light-grey-scrollbar: #aaaaaa;
    --dark-grey-scrollbar: #767676;
    --lightGrey: #373737;
    --mild-grey: #4d4d4d;
    --white: #ffffff;
    --black: #0f0f0f;
    --blue: #065fd4;
    --light-blue: #3ea6ff;
    --text-grey: #aaaaaa;
}

.dark-toast {
    background: var(--primary);
    color: var(--white);
    box-shadow: 0 0 15px 0 #b2b2b2 !important;
    line-height: 1.3rem;
}
.dark-toast svg {
    color: var(--mild-grey);
}

.light-toast {
    background: var(--primary);
    color: var(--white);
    box-shadow: 0 0 15px 0 #595959 !important;
}
.light-toast svg {
    color: var(--dark-green);
}