@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
.Navbar {
    background-color: var(--secondary);
    grid-column: 1/-1;
    grid-row: 1/span 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem .5rem 1rem;
    flex-wrap: wrap;
    height: max-content;
}
.nav-left {
    gap: 1rem;
    height: 100%;
}
.nav-right {
    gap: 1rem;
    position: relative;
    height: 100%;
}
.settings-dropdown {
    position: absolute;
    top: 2rem;
    left: -15rem;
    z-index: 2;
}
.brand {
    color: var(--white);
    height: 100%;
}
.brand-name {
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Metrophobic', sans-serif;
}
.search-wrapper {
    height: 100%;
}
.search-icon-wrapper {
    background-color: var(--lightGrey);
    padding: 0.7rem 0;
    width: 4.5rem;
    position: relative;
}
.search-input {
    outline: none;
    border: 1px solid var(--lightGrey);
    background-color: var(--primary);
    color: var(--white);
    font-size: 1rem;
    padding: .7rem .4em;
    display: flex;
    flex-shrink: 1;
    width: 32rem;
}
.search-input:focus {
    border-color: var(--blue);
}
.ham-icon {
    border-radius: 100%;
    padding: .4rem;
}
.icon-dots {
    border-radius: 100%;
    padding: 0.4rem;
}
.icon-dots:hover {
    background-color: var(--lightGrey); 
}
.icon-search, .icon-dots, .ham-icon {
    color: var(--white);
}
.ham-icon:hover {
    background-color: var(--lightGrey);
}
.user-img {
    border-radius: 100%;
    background-color: var(--lightGrey);
    height: 42px;
    width: 42px;
}

.dropdown-menu {
    box-sizing: border-box;
    width: 100%;
}
.dropdown-menu .menu-item {
    padding: .5rem 1rem;
    gap: 1rem;
}
.dropdown-menu .menu-item:hover {
    background-color: var(--lightGrey);
}
.dropdown-menu .menu-item-content {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .search-input {
        width: auto;
    }
}
.searchbar {
    position: relative;
    gap: .5rem;
}
.searchbar .search-suggestion-wrapper {
    position: absolute;
    width: calc(100% - 72px);
    min-height: 5em;
    max-height: 30rem;
    height: max-content;
    background-color: #ffffff;
    padding: 1.5rem 0;
    color: #121212;
    top: 100%;
    left: 0;
    z-index: 999;
    gap: 1rem;
    box-sizing: border-box;
}
.searchbar .search-suggestion-wrapper ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: .95rem;
    overflow-y: auto;
}
.searchbar .search-suggestion-wrapper ul li {
    justify-content: flex-start;
    padding: .5rem .5rem;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
}
.searchbar .search-suggestion-wrapper ul li:hover {
    background-color: var(--mild-grey-hover);
}
.searchbar .search-suggestion-wrapper ul p {
    text-align: left;
}
.image-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-mid.onMobile {
    margin: 1rem 0 5px 0;
    width: 100%;
}
.nav-mid.onMobile form {
    width: 100%;
}
.nav-mid.onMobile input {
    width: 100%;
}
.image-circle-wrapper {
    position: relative;
}
.image-circle-wrapper:hover img{
    opacity: 50%;
    filter: grayscale(1);
}
.image-circle-wrapper:hover .icon-switch-img{
    visibility: visible;
}
.icon-switch-img {
    position: absolute;
    top: 20%;
    left: 25%;
    visibility: hidden;
    cursor: pointer;
}
.icon-close-search {
    position: absolute;
    top: 25%;
    left: -50%;
    color: var(--light-grey);
    font-size: 1rem;
}
.icon-close-search:hover {
    color: tomato;
}