@import url('./styles/colors.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.App {
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 2fr;
    grid-template-columns: auto 1fr;
    color: white;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.App.onMobile {
    grid-template-rows: auto auto 2fr auto;
}
.App.onMobile .Home {
    grid-row: 3 / span 1;
}
.App.light {
    --primary: #ffffff;
    --secondary: #f9f9f9;
    --lightGrey: #e5e5e5;
    --white: #121212;
    --black: #aaaaaa7d;
    --text-grey: #0f0f0f;
    --mild-grey: #aaaaaa7d;
    --secondary-light: #1212129c;
    --text-grey-bg-black: #aaaaaa;
}
.App.light .time-length {
    color: white;
}

.dark-toast {
    background: var(--primary);
    color: var(--white);
    box-shadow: 0 0 15px 0 #b2b2b2 !important;
    line-height: 1.3rem;
}
.light-toast {
    background: #f9f9f9;
    color: #121212;
    box-shadow: 0 0 15px 0 #595959 !important;
    line-height: 1.3rem;
}

@media screen and (max-width: 700px) {
    .App .Playlist, .App .Signup, .App .Login, .App .Liked, .App .Watchlater, .App .History {
        width: 100vw;
        height: 100%;
        grid-row: 2 / span 2;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
::-webkit-scrollbar{
    width: 0.5rem;
    background-color: var(--primary);
}
::-webkit-scrollbar-thumb{
    background: var(--light-grey-scrollbar);
    border-radius: 5px;
    filter: none;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--dark-grey-scrollbar);
}