@import url('./styles/colors.css');

.App {
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 2fr;
    grid-template-columns: auto 1fr;
    color: white;
    overflow: hidden;
}

.App.light {
    --primary: #ffffff;
    --secondary: #f9f9f9;
    --lightGrey: #e5e5e5;
    --white: #121212;
    /* --light-grey-scrollbar: #aaaaaa;
    --dark-grey-scrollbar: #767676;
    --mild-grey: #4d4d4d;
    --black: #121212;
    --blue: #065fd4;
    --light-blue: #3ea6ff; */
}
.App.light .time-length {
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}
::-webkit-scrollbar{
    width: 0.5rem;
    background-color: var(--primary);
}
::-webkit-scrollbar-thumb{
    background: var(--light-grey-scrollbar);
    border-radius: 5px;
    filter: none;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--dark-grey-scrollbar);
}